<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/default_layout.html}">

    <!-- default_layout.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    </th:block>
    <!-- default_layout.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <!--    <script th:src="@{/js/page/home.js}"></script>-->
    </th:block>


<!-- Content -->
<div layout:fragment="content" style="margin-top: 50px;">
   
  
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                    </div>
                </div>
            </div>        
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="card" style="height: 500px; margin-top: 35px;">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center" >
                        <div class="card-body">
                            <p class="card-text">시작일</p>
                            <p class="card-text">끝나는일</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="card-text">주최자</p>
                            <h5 class="card-title">글쓴이이름받기</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" >
                        <div class="card-body">
                            <h5 class="card-header">현재참여인원 <th:box>dd</th:box> </h5>
                            <p>현재 참여 인원<th:box>고민중</th:box> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <p>내용</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>








    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h3>제목 : <th:box th:text="${user.id}"></th:box>
                    </h3>
                    <!-- 여기부터 넣기 -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group" style="margin-bottom: 10px;">
                                <p class="form-control">카테고리</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" style="margin-bottom: 10px;">
                                <p class="form-control">지역</p>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                       
                                    <p class="text-center">참여포인트 : <th:box th:text="${user.id}"></th:box> </p>
                              
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <p class="fs-2">주최자 : <th:box th:text="${user.id}"></th:box> </p>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <div class="card">
                                <div class="card-body">
                                    <p class="fs-6">참여인원 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <p class="fs-3" style="height: 400px;">내용</p>
                        </div>
                    </div>
                    <!-- 여기까지 -->
                </div>
            </div>
        </div>




    </div>
       

</div>

</html>