<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <title>thymeleaf layout</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
  <!-- content script -->
  <th:block layout:fragment="css"></th:block>
  <!-- content script -->
  <th:block layout:fragment="script"></th:block>
</head>
<body>
<!-- header fragment 사용 -->
<div>여기는 헤더</div>
<!-- content fragment 사용 -->
<th:block layout:fragment="content"></th:block>
<!-- footer fragment 사용 -->
<div>여기는 푸터</div>
</body>
</html>