<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/default_layout.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>


<!-- Content -->
<div layout:fragment="content" style="margin-top: 50px;">


    <div class="container">
        
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12"><h3 style="margin-left: 20px;">제목 : &nbsp;&nbsp; <th:box th:text="${gather.title}"></th:box></h3></div>
                        <div class="col-md-2" style="margin-left: 15px; margin-top: 5px;"><p>조회수 &nbsp;&nbsp; <th:box th:text="${gather.viewCnt}"></th:box> </p></div>
                    </div>
                    
                    </h3>
                    <!-- 여기부터 넣기 -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sm">
                                <thead>
                                    <th th:text="${categoryName}">카테고리</th>
                                    <th th:text="${locationDong}">지역</th>
                                    <td>
                                        <p class="text-center" th:if="${gather.point!=null}">참여포인트 <th:box th:text="${gather.point}"></th:box> </p>
                                        <p class="text-center" th:if="${gather.point==null}">참여포인트 &nbsp;&nbsp; 해당없음 </p>
                                    </td>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <p class="fs-2">주최자 : <th:box th:text="${user.nickname}"></th:box> </p>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <div class="card">
                                <div class="card-body">
                                    <p class="fs-6">현재 참여인원 &nbsp;&nbsp; <th:box th:text="${peopleCount}"></th:box> :&nbsp; <th:box  th:text="${gather.peopleNum}"></th:box>  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">   
                            <img th:if="${fileInfo.saveFileName != null}" class="img-fluid" th:src="${'/assets/img/upload_img_file/' + fileInfo.saveFileName}">
                            <!-- <img src="/assets/img/upload_img_file/f1b5be37-1fac-482c-975f-b4d1a6b84889.jpeg" alt="tq"> -->
                            <!-- <a th:href="@{'detail/'+${gather.location}+'/'+${gather.category}}" >테스트</a> -->
                            <div class="fs-3" style="height: 400px;" th:text="${gather.content}">내용</div>
                            <!-- <p class="fs-3" style="height: 400px;" th:text="${gather.content}">내용</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <!-- 해보고지우기 -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" th:if="${comment.role==0}">
                                                참여신청 하기
                                        </button>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" th:if="${comment.role==2}">
                                                참여신청 하기
                                        </button>
                                        <form th:action="@{'/user/gather/detail/'+${gather.id}+'/roleRequest'}" method="post">
                                            <input type="hidden" name="point" th:value="${gather.point}">
                                            <input class="btn btn-outline-success" type="submit" th:if="${comment.role==1}" value="참여신청 취소">
                                            <input class="btn btn-outline-success" type="submit" th:if="${comment.role>=3}" value="참가자인포,코맨트 방 이동">
                                        </form>
                                        <a th:href="@{'/user/gather/detail/'+${gather.id}+'/commentAdmin'}"><p class="btn btn-outline-success" role="button" th:if="${comment.role==4}">참여 신청자 관리 이동</p></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a th:href="@{'/user/gather/detail/'+${gather.id}+'/update'}" th:if="${comment.role==4}" class="btn btn-outline-success" href="#" role="button">글수정</a>
                                        <a th:href="@{'/user/gather/detail/'+${gather.id}+'/delete'}" th:if="${comment.role==4}" class="btn btn-outline-success" href="#" role="button" style="margin-left: 20px;">글삭제</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 모달 -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">참여멘트적어주세요</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{'/user/gather/detail/'+${gather.id}+'/roleRequest'}" method="post">
                            <div class="modal-body">
                                <input type="text" name="joinMent" class="form-control" id="article-modal-body" placeholder="참여신청 멘트를 적어주세요"></input>
                            </div>
                            <div class="modal-footer">
                                    <input type="hidden" name="point" th:value="${gather.point}">
                                    <input class="btn btn-secondary" type="submit" value="참여신청 하기">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    <!-- 여기까지 -->
                </div>
            </div>
        </div>




    </div>

<script th:inline="javascript">
    /*<![CDATA[*/
    
    let message = /*[[${resultMessage}]]*/
    console.log(message);

    if(message!=null){
        alert(message);
    }


    /*]]>*/    
</script>


</div>



</html>