<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/default_layout.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container d-flex justify-content-evenly col-sm-12 py-3 mt-2 ">
            <div class="col-sm-6 p-4">
              <h1 th:text="${location.dong}"></h1>
              <h6 class="text-secondary text-bolder" th:text="|${location.getSido()} ${location.getGugun()}|"></h6>
            </div>
            <div class="col-sm-6 d-flex justify-content-evenly">
              <form action="#" th:action="@{/user/update/myListLocation}" method="get" id="locationSubmit">
                <div class="form-group">
                  <label for="place">관심 지역 변경</label>
                  <input type="text" class="form-control" list="place-list" id="place" required placeholder="동·읍·면을 입력해주세요">
                  <div class="alert-custom alert-light mt-2" role="alert">
                    주소를 정확히 입력해주세요.
                  </div>
                  <datalist id="place-list">
                    <select>
                      <option th:each="location : ${locationList}"
                              th:value="${location.getDong()}"
                              th:label="|(${location.getSido()} ${location.getGugun()}) |"
                              th:data="${location.getId()}">
                      </option>
                    </select>
                  </datalist>
                  <input type="hidden" name="location" id="place-hidden">
                </div>
                <button class="btn btn-primary" type="submit" id="place_submit">Submit form</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container flex-row col-sm-4 col-md-6 col-lg-8 col-xl-12 py-4" id="categories">
            <a th:href="@{/user/myGather}" class="btn btn-primary">전체</a>
            <th:block th:each="categoryDTO : ${categoryList}">
              <a th:href="@{/user/myGather(category=${categoryDTO.getId()})}" class="btn btn-primary" th:text="${categoryDTO.getDetailName()}"></a>
            </th:block>
          </div>
        </div>
      </div>
      <th:block th:if="${gatherList.getDtoList().size() != 0}">
        <div class="card mb-4 px-5">
          <div class="d-flex justify-content-center pt-3">
            <input type="radio" class="btn-check" name="options-outlined" id="cardViewBtn" autocomplete="off" checked>
            <label class="btn btn-outline-success font-weight-bold" for="cardViewBtn">슬라이드</label>

            <input type="radio" class="btn-check" name="options-outlined" id="listViewBtn" autocomplete="off">
            <label class="btn btn-outline-danger font-weight-bold" for="listViewBtn">리스트</label>
          </div>
          <section class="pt-3 pb-5" id="cardView">
            <div class="container">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <h3 class="mb-3">내 모임 정보</h3>
                </div>
                <div class="col-12 text-right">
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <th:block th:each="gathers, iterstat : ${gatherList.dtoList}">
                        <div th:classappend="${iterstat.index == 0} ? ' active' : ''" class="carousel-item">
                          <div class="row d-flex justify-content-center">
                            <div class="col-md-6 mb-3">
                              <div class="card">
                                <a href="#" th:href="@{/user/gather/detail/{id}(id = ${gathers.id})}">
                                  <th:block>
                                    <img th:if="${gathers.getSaveFileName() != null}" class="img-fluid" style="width: 620px; height: 300px" th:src="${'/assets/img/upload_img_file/' + gathers.saveFileName}">
                                    <img th:if="${gathers.getSaveFileName() == null}" class="img-fluid" alt="100%x280" src="https://via.placeholder.com/620x300/000000/FFFFFF?text=No+Image">
                                  </th:block>
                                  <div class="card-body">
                                    <h4 class="card-title" th:text="${gathers.title}"></h4>
                                    <p class="card-text" th:text="${gathers.content}"></p>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div id="listView">
            <div class="card-header pb-0">
              <h6>내 모임 정보</h6>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-sm-12">
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="table-responsive p-0">

                    <table class="table align-items-center mb-3 table-sm">
                      <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            scope="col">
                          모임명
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                            scope="col">
                          등록일
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            scope="col">
                          시작일
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            scope="col">
                          마감일
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            scope="col">
                          참여인원수
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            scope="col">
                          조회수
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <th:block th:each="gathers : ${gatherList.dtoList}">
                        <tr>
                          <td colspan="1">
                            <div class="d-flex px-2 py-1">
                              <div>
                                <svg data-jdenticon-value="nickname" th:data-jdenticon-value="${gathers.getUser()}"
                                     width="40" height="40" class="avatar avatar-sm me-3"></svg>
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <a href="#" th:href="@{/user/gather/detail/{id}(id = ${gathers.id})}">
                                  <h6 class="mb-0 text-sm" th:text="${gathers.title}"/>
                                  <p class="text-xs text-secondary mb-0"
                                     th:text="${gathers.point}"/>
                                </a>
                              </div>
                            </div>
                          </td>
                          <td colspan="1">
                                           <span class="text-secondary text-xs font-weight-bold"
                                                 th:text=" ${#temporals.format(gathers.startDate, 'yyyy-MM-dd')}"/>
                          </td>
                          <td class="align-middle text-center ">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text=" ${#temporals.format(gathers.startDate, 'yyyy-MM-dd')}"/>
                          </td>
                          <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text=" ${#temporals.format(gathers.endDate, 'yyyy-MM-dd')}"></span>
                          </td>
                          <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text="${gathers.peopleNum}"></span>
                          </td>
                          <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text="${gathers.viewCnt}"></span>
                          </td>
                        </tr>
                      </th:block>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
      <th:block th:if="${gatherList.getDtoList().size() == 0}">
        <div class="card mb-4 px-5 d-flex justify-content-center align-items-center">
            <div class="card-header pb-0 text-center">
              <h6>내 모임 정보</h6>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="row text-center">
                  <h2>모임이 없어요!</h2>
                  <a href="/user/gather/register" type="button" class="btn btn-dark btn-sm w-100 mb-3 mt-3">모임 만들기👻</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </th:block>
      <div class="card mb-5">
        <div class="card-body px-0 pt-4 pb-2">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 d-flex justify-content-center">

              <th:block
                      th:with="start=${gatherList.start}, end=${gatherList.end}, keyword =${param.keyword}, type = ${param.type}">
                <div class="col-md-9 d-flex flex-row-reverse ">
                  <ul class="pagination">

                    <li th:if="${start} == '1'" class="page-item disabled">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${start} -10, keyword = ${keyword}, type = ${type})}">◁</a>
                    </li>
                    <li th:if="${start} > '1'" class="page-item ">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${start} -10, keyword = ${keyword}, type = ${type})}">◀</a>
                    </li>

                    <th:block th:if="${gatherList.getDtoList().size() != 0}" th:each="num : ${#numbers.sequence(start,end)}">
                      <li class="page-item" th:if="${num} != ${gatherList.page}">

                        <a class="page-link" th:text="${num}"
                           th:href="@{/user/myGather(category = ${category}, page = ${num}, keyword = ${keyword}, type = ${type})}"></a>
                      </li>
                      <li class="page-item active" th:if="${num} == ${gatherList.page}">
                        <a class="page-link" th:text="${num}"
                           th:href="@{/user/myGather(category = ${category}, page = ${num}, keyword = ${keyword}, type = ${type})}"></a>
                      </li>
                    </th:block>
                    <li th:if="${end} >= ${gatherList.total} / 10" class="page-item disabled">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${end} +1, keyword = ${keyword}, type = ${type})}">▷</a>
                    </li>
                    <li th:if="${end} < ${gatherList.total} / 10" class="page-item">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${end} +1, keyword = ${keyword}, type = ${type})}">▶</a>
                    </li>
                  </ul>
                </div>
              </th:block>
            </div>
            <div class="col-sm-4 ">
              <form class="row g-3" action="/user/myGather" method="get">
                <div class="col-auto">
                  <select class="form-select" aria-label="Default select example" id="category" name="type">
                    <option value="title">모임 검색 &nbsp&nbsp</option>
                  </select>
                </div>
                <div class="col-auto">
                  <label for="keyword" class="visually-hidden">search</label>
                  <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search">
                  <th:block th:if="${viewMode != null}">
                    <input class="searchViewMode" type="hidden" name="viewMode" th:value="${viewMode}">
                  </th:block>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">검색</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/locationModal.js"></script>
  <script th:inline="javascript">

    let viewMode;
    let defaultViewMode = [[${viewMode}]];
    let cardBtn = document.getElementById("cardViewBtn");
    let listBtn = document.getElementById("listViewBtn");
    let cardView = document.getElementById("cardView");
    let listView = document.getElementById("listView");
    let categories = document.querySelectorAll("#categories > a");
    let pagination = document.querySelectorAll(".pagination > li > a");
    let searchViewMode = document.querySelector('.searchViewMode');

    if(defaultViewMode != null) {
      viewMode = defaultViewMode;
    }

    cardBtn.addEventListener('click', function (){
      cardView.style.display = "";
      listView.style.display = "none";
      viewMode = "slide";
      changeHref(viewMode, categories, pagination, searchViewMode);
    });
    listBtn.addEventListener('click', function (){
      cardView.style.display = "none";
      listView.style.display = "";
      viewMode = "list"
      changeHref(viewMode, categories, pagination, searchViewMode);
    });

    function changeHref(viewMode, categories, pagination, searchViewMode) {
      for (let idx = 0; idx < pagination.length; idx++){
        let page = pagination[idx];
        let pageLocation = page.href;
        if(pageLocation.toString().indexOf('list') == -1 && pageLocation.toString().indexOf('slide') == -1) {
          pageLocation = pageLocation + '&viewMode=' +viewMode;
          page.href = pageLocation;
        }
      }

      for(let i = 0; i < categories.length; i++) {
        let category = categories[i];
        let location = category.href;
        if(location.toString().indexOf('list') == -1 && location.toString().indexOf('slide') == -1) {
          if(location.toString().indexOf('?') == -1){
            location = location + '?viewMode=' +viewMode;
            category.href = location;
          }else{
            location = location + '&viewMode=' +viewMode;
            category.href = location;
          }
        }
      }
      console.log(searchViewMode);
      let initValue = searchViewMode.valueOf();
      if(initValue.toString().indexOf('list') == -1 && initValue.toString().indexOf('list') == -1){
        searchViewMode.value = viewMode;
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      if(defaultViewMode == 'list') {
        cardBtn.checked = false;
        listBtn.checked = true;
        cardView.style.display = "none";
        listView.style.display = "";
      }else if(defaultViewMode == 'slide') {
        cardView.style.display = "";
        listView.style.display = "none";
      }else {
        cardView.style.display = "";
        listView.style.display = "none";
      }
      if(isNotEmpty(defaultViewMode)) {
        console.log(defaultViewMode);
        viewMode = defaultViewMode;
        changeHref(viewMode, categories, pagination);
      }
    });

    function isNotEmpty(str){
      if(typeof str == "undefined" || str == null || str == "")
        return false;
      else
        return true ;
    }
  </script>
</div>

</html>