<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/default_layout.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container flex-row col-sm-4 col-md-6 col-lg-8 col-xl-12 py-4">
            <h1 th:text="|${location.getSido()} ${location.getGugun()} ${location.getDong()}|"></h1>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container flex-row col-sm-4 col-md-6 col-lg-8 col-xl-12 py-4">

            <a th:href="@{/user/myGather}" class="btn btn-primary">전체</a>

            <th:block th:each="categoryDTO : ${categoryList}">
              <a th:href="@{/user/gather(category=${categoryDTO.getId()})}" class="btn btn-primary" th:text="${categoryDTO.getDetailName()}"></a>
            </th:block>
          </div>
          <hr class="gatherList_hr">
          <div class="container flex-row col-sm-4 col-md-6 col-lg-8 col-xl-12 py-4">
            <th:block th:if="${gatherList.isEmpty()}">
              <h1>모임이 존재하지 않습니다!!</h1>
            </th:block>
            <th:block th:if="${gatherList != null}">
              <div class="list-group">
                <th:block th:each="gatherDTO : ${gatherList}">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active my-4">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" th:text="${gatherDTO.getTitle()}"></h5>
                      <small th:text="|시작일 : ${#temporals.format(gatherDTO.getStartDate(), 'yyyy-MM-dd HH:mm:ss')}|"></small>
                      <small th:text="|종료일 : ${#temporals.format(gatherDTO.getEndDate(), 'yyyy-MM-dd HH:mm:ss')}|"></small>
                    </div>
                    <p class="mb-1" th:text="${gatherDTO.getContent()}"></p>
                    <small th:text="|인원수 : ${gatherDTO.getPeopleNum()}|"></small>
                  </a>
                </th:block>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>