<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/default_layout.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body align-items-center px-0 pt-0 pb-2">
          <div class="container flex-row col-sm-4 col-md-6 col-lg-8 col-xl-12 py-3 mt-2">
            <h1 th:text="|${location.getDong()} ${location.getSido()} ${location.getGugun()}|"></h1>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="container flex-row col-sm-4 col-md-6 col-lg-8 col-xl-12 py-4">
            <a th:href="@{/user/myGather}" class="btn btn-primary">전체</a>
            <th:block th:each="categoryDTO : ${categoryList}">
              <a th:href="@{/user/myGather(category=${categoryDTO.getId()})}" class="btn btn-primary" th:text="${categoryDTO.getDetailName()}"></a>
            </th:block>
          </div>
        </div>
      </div>
      <div class="card mb-4 px-5">
        <div class="d-flex justify-content-center pt-3">
          <input type="radio" class="btn-check" name="options-outlined" id="cardViewBtn" autocomplete="off" checked>
          <label class="btn btn-outline-success font-weight-bold" for="cardViewBtn">슬라이드</label>

          <input type="radio" class="btn-check" name="options-outlined" id="listViewBtn" autocomplete="off">
          <label class="btn btn-outline-danger font-weight-bold" for="listViewBtn">리스트</label>
        </div>
        <section class="pt-3 pb-5" id="cardView">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h5 class="mb-3">내 모임 정보</h5>
              </div>
              <div class="col-6 text-right">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <th:block th:each="gathers, iterstat : ${gatherList.dtoList}">
                      <div th:classappend="${iterstat.index == 0} ? ' active' : ''" class="carousel-item">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                              <div class="card-body">
                                <h4 class="card-title" th:text="${gathers.title}"></h4>
                                <p class="card-text" th:text="${gathers.content}"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </th:block>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="listView">
          <div class="card-header pb-0">
            <h6>내 모임 정보</h6>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-12">
              <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">

                  <table class="table align-items-center mb-3 table-sm">
                    <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          scope="col">
                        모임명
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                          scope="col">
                        등록일
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          scope="col">
                        시작일
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          scope="col">
                        마감일
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          scope="col">
                        참여인원수
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          scope="col">
                        조회수
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="gathers : ${gatherList.dtoList}">
                      <tr>
                        <td colspan="1">
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="/assets/img/team-2.jpg"
                                   class="avatar avatar-sm me-3"
                                   alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <a href="">
                                <h6 class="mb-0 text-sm" th:text="${gathers.title}"/>
                                <p class="text-xs text-secondary mb-0"
                                   th:text="${gathers.point}"/>
                              </a>
                            </div>
                          </div>
                        </td>
                        <td colspan="1">
                                           <span class="text-secondary text-xs font-weight-bold"
                                                 th:text=" ${#temporals.format(gathers.startDate, 'yyyy-MM-dd')}"/>
                        </td>
                        <td class="align-middle text-center ">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text=" ${#temporals.format(gathers.startDate, 'yyyy-MM-dd')}"/>
                        </td>
                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text=" ${#temporals.format(gathers.endDate, 'yyyy-MM-dd')}"></span>
                        </td>
                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text="${gathers.peopleNum}"></span>
                        </td>
                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold"
                                                  th:text="${gathers.viewCnt}"></span>
                        </td>
                      </tr>
                    </th:block>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body px-0 pt-4 pb-2">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 d-flex justify-content-center">

              <th:block
                      th:with="start=${gatherList.start}, end=${gatherList.end}, keyword =${param.keyword}, type = ${param.type}">
                <div class="col-md-9 d-flex flex-row-reverse ">
                  <ul class="pagination">
                    <li th:if="${start} == '1'" class="page-item disabled">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${start} -10, keyword = ${keyword}, type = ${type})}">◁</a>
                    </li>
                    <li th:if="${start} > '1'" class="page-item ">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${start} -10, keyword = ${keyword}, type = ${type})}">◀</a>
                    </li>

                    <th:block th:each="num : ${#numbers.sequence(start,end)}">
                      <li class="page-item" th:if="${num} != ${gatherList.page}">

                        <a class="page-link" th:text="${num}"
                           th:href="@{/user/myGather(category = ${category}, page = ${num}, keyword = ${keyword}, type = ${type})}"></a>
                      </li>
                      <li class="page-item active" th:if="${num} == ${gatherList.page}">
                        <a class="page-link" th:text="${num}"
                           th:href="@{/user/myGather(category = ${category}, page = ${num}, keyword = ${keyword}, type = ${type})}"></a>
                      </li>
                    </th:block>
                    <li th:if="${end} >= ${gatherList.total} / 10" class="page-item disabled">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${end} +1, keyword = ${keyword}, type = ${type})}">▷</a>
                    </li>
                    <li th:if="${end} < ${gatherList.total} / 10" class="page-item">
                      <a class="page-link"
                         th:href="@{/user/myGather(category = ${category}, page = ${end} +1, keyword = ${keyword}, type = ${type})}">▶</a>
                    </li>
                  </ul>
                </div>
              </th:block>
            </div>
            <div class="col-sm-4 ">
              <form class="row g-3" action="/user/myGather" method="get">
                <div class="col-auto">
                  <select class="form-select" aria-label="Default select example" id="category" name="type">
                    <option value="title">모임 검색 &nbsp&nbsp</option>
                  </select>
                </div>
                <div class="col-auto">
                  <label for="keyword" class="visually-hidden">search</label>
                  <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">검색</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/listViewToggle.js"></script>
</div>

</html>