<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.batisproject.mapper.jungi.GatherMapper">

    <resultMap id="GatherMapping" type="Gather">
        <result property = "id" column = "g_id"/>
        <result property = "user" column = "u_id"/>
        <result property = "location" column = "l_id"/>
        <result property = "category" column = "c_id" />
        <result property = "title" column = "title"/>
        <result property = "content" column = "content"/>
        <result property = "regDate" column = "regdate"/>
        <result property = "startDate" column = "startdate"/>
        <result property = "endDate" column = "enddate"/>
        <result property = "modifyDate" column = "modifydate"/>
        <result property = "allDay" column = "allday"/>
        <result property = "textColor" column = "textColor"/>
        <result property = "backgroundColor" column = "backgroundColor"/>
        <result property = "borderColor" column = "borderColor" />
        <result property = "viewCnt" column = "view_cnt"/>
        <result property = "peopleNum" column = "people_num"/>
        <result property = "point" column = "point"/>
    </resultMap>

    <resultMap id="ResponseGatherMapping" type="GatherResponse">
        <result property = "id" column = "g_id"/>
        <result property = "user" column = "u_id"/>
        <result property = "location" column = "l_id"/>
        <result property = "category" column = "c_id" />
        <result property = "title" column = "title"/>
        <result property = "content" column = "content"/>
        <result property = "regDate" column = "regdate"/>
        <result property = "startDate" column = "startdate"/>
        <result property = "endDate" column = "enddate"/>
        <result property = "modifyDate" column = "modifydate"/>
        <result property = "viewCnt" column = "view_cnt"/>
        <result property = "peopleNum" column = "people_num"/>
        <result property = "point" column = "point"/>
        <result property = "saveFileName" column="save_file_name" />
    </resultMap>

    <select id="selectMyList" resultType="GatherResponse" resultMap="ResponseGatherMapping">
        SELECT g.g_id
             , g.u_id
             , g.l_id
             , g.c_id
             , g.title
             , g.content
             , g.regdate
             , g.startdate
             , g.enddate
             , g.modifydate
             , g.view_cnt
             , g.people_num
             , g.point
             , fi.save_file_name
        FROM gather g
        RIGHT JOIN gather_comment gc on g.g_id = gc.g_id
        LEFT JOIN gather_image gi on gi.g_id = g.g_id
        LEFT join file_info fi on fi.f_id = gi.f_id
            <include refid="searchMyList"/>
        ORDER BY g.g_id DESC LIMIT #{skip}, #{size}
    </select>

    <select id="selectOtherList" resultType="GatherResponse" resultMap="ResponseGatherMapping">
        select g.g_id, g.u_id, g.l_id, g.c_id, g.title, g.content, g.regdate, g.startdate, g.enddate, g.modifydate, g.view_cnt,
        g.people_num, g.point, fi.save_file_name from gather g
        left join gather_image gi on gi.g_id = g.g_id
        left join file_info fi on fi.f_id = gi.f_id
        <include refid="searchOtherList"/>
        order by g_id desc LIMIT #{skip}, #{size}
    </select>

    <sql id="searchMyList">
        <where>
            gc.u_id = (select u_id from user where nickname = #{nickname})
            and g.enddate > now()
            and l_id = #{location}
        <choose>
            <when test="category != null">
                and c_id = #{category}
            </when>
             <when test="keyword != null and type == 'title'.toString()">
                 and title like concat('%', #{keyword}, '%')
             </when>
        </choose>
        </where>
    </sql>

    <sql id="searchOtherList">
         <where>
             g.g_id NOT IN (select g_id from gather_comment gc
             where u_id = (select u_id from user u where nickname = #{nickname}))
                 and enddate > now()
                 and l_id = #{location}
             <choose>
                 <when test="category != null">
                     and c_id = #{category}
                 </when>
                 <when test="keyword != null and type == 'title'.toString()">
                     and title like concat('%', #{keyword}, '%')
                 </when>
                 <when test="allSearchKeyword != null">
                    or title like concat('%', #{allSearchKeyword}, '%')
                    or content like concat('%', #{allSearchKeyword}, '%')
                 </when>
             </choose>
         </where>
    </sql>

    <sql id="search">
        <where>
            <if test="keyword != null and type == 'title'.toString()">
                title like concat('%', #{keyword}, '%')
            </if>
        </where>
    </sql>

    <select id="getMyListCount" resultType="int">
        select count(*) from gather g
        right join gather_comment gc on g.g_id = gc.g_id
        left join gather_image gi on gi.g_id = g.g_id
        left join file_info fi on fi.f_id = gi.f_id
        <include refid="searchMyList"/>
    </select>

    <select id="getOtherListCount" resultType="int">
        select count(*) from gather g
        left join gather_image gi on gi.g_id = g.g_id
        left join file_info fi on fi.f_id = gi.f_id
        <include refid="searchOtherList"/>
    </select>



</mapper>