<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl mt-3" id="navbarBlur"
       data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a>
          </li>

        </ol>
        <h6 class="font-weight-bolder text-white mb-0">캘린더</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="모임 검색하기..">
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center" sec:authorize="isAnonymous()">
            <a th:href="@{/login}" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>

          <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
            <a href="#" class="nav-link text-white font-weight-bold px-0" id="link-logout">
              <span>안녕하세요! &nbsp </span>
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">[[${user}]] 님</span>
            </a>
          </li>

          <script>
            {

              const logout = document.querySelector('#link-logout');

              logout.addEventListener("click", () => {
                if (window.confirm('로그아웃을 정말로 하실건가요?? 🥲'))
                {
                  window.location.href = "http://localhost:8888/logout"
                }
                else
                {
                  window.location.reload();
                }
              })

              const logout1 = document.querySelector('#side-link-logout');

              logout1.addEventListener("click", () => {
                if (window.confirm('로그아웃을 정말로 하실건가요?? 🥲'))
                {
                  window.location.href = "http://localhost:8888/logout"
                }
                else
                {
                  window.location.reload();
                }
              })
            }

          </script>

        </ul>
      </div>
    </div>
  </nav>

</div>
</html>