<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/default_layout.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-11  mb-xl-0 mb-4">
            <div class="card ms-10 me-5 mb-xl-12" >
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <img src="/assets/img/calendar.png" class="img-fluid ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>