<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/default_layout.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body px-0 pt-0 pb-2 p-5">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/assets/img/c1.jpg" class="d-block w-100 p-5"  height="750" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-white">지역 기반 모임 프로젝트입니다.</h5>
                                    <p>스프링 시큐리티(JWT)방식으로 보안작업이 되어있으므로 로그인 후 사용 가능합니다.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/img/c2.jpg" class="d-block w-100 p-5"  height="750" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-white">관심사와 관심지역을 기반으로 모임을 생성하고 참여합니다.</h5>
                                    <p>모임을 생성하고 참여할때 포인트가 필요합니다.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/img/c3.png" class="d-block w-100 p-5"  height="750" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-white">SpringBoot / thymeleaf / myBatis로 제작되었습니다.</h5>
                                    <p>Create By Unstoppable</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>